<header>
  <div class="container">
    <nav>
      <ul>
	<li>
	   <a href="<%= root_url %>"><i class="icon-home"></i> <%=t :home %></a>
	</li>
	<li>
	   <a href="<%= dashboard_index_url %>"><i class="icon-th-large"></i> <%=t :dashboard %></a>
	</li>

      </ul>
    </nav>
  </div>
</header>
