<header>
<div class="container">
  <ul class="nav">
    <li>
      <%= link_to t(:home), root_url %>
    </li>
    <li>
      <%= link_to t(:dashboard), dashboard_index_url %>
    </li>
  </ul>
</div>
</header>
