@import "variables";
//@import "foundation";

.steps {
    list-style: none;
    width: auto;
    li {
	display: inline-block;
	text-align: center;
	padding: 1em 3em;
	color: $darkgray;

	span {
	    font-size: 0.85em;

	}

	.step-title {
	    font-size: 1.3em;
	    display: block;
	}
    }

    li.current {
	border-bottom: 4px solid $emerald;
	.step-title {
	    color: darkergray;

	}
    }
}

.stepdiv {
    position: absolute;
}