<li class="next">
  <% unless current_page.first? -%>
    <%= link_to "", url, :rel => "prev", :remote => remote, :class => "icon-chevron-right" %>
  <% else %>
    <%= link_to "", "#", :rel => "prev", :remote => remote, :class => "icon-chevron-right" %>
  <% end -%>
</li>
