// Place all the styles related to the advertises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables.css.scss";


.simulator {
    text-align: center;
    border-width: 0;
    h1 {
	font-size: 1.6em;
    }
}

.box-noproblem {
    transition: background 300ms linear 0;
    background: $nephritis;
    h1, h2, h3, h4, h5, span, p {
	color: white;
    }

}
.box-warning {
    transition: background 300ms linear 0;
    background: $orange;
    h1, h2, h3, h4, h5, span, p {
	color: white;
    }

}
.box-danger {
    transition: background 300ms linear 0;
    background: $alizarin;
    h1, h2, h3, h4, h5, span, p {
	color: white;
    }

}

.ad-preview {
    padding: 60px 0;
}

#preview-container {
  padding: 40px 0;
  }
#previewad {
  margin: 0px auto;
  }

.bannercontainers {
  display: none;
}

.ad-info {
  text-align: center;
  padding-top: 20%;
  height: 100%;

  span {
    font-size: 1em;
    i {
      padding: 0 0 0 4px;
      font-size: 1.4em;
    }
  }
}
