@import "variables";
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

* {
    font-family: 'Droid Arabic Naskh', tahoma;
}

header {
    Background: $headerbg;
    color: white;
    width: 100%;
    min-width: 1024px;
    height: 60px;
    margin-bottom: 25px;

    nav {
	padding: 10px 0px;
	width: 100%;
	display:inline;
	.logo{
	    display:inline;
	    float:right;
	    width:190px;
	    height:60px;
	    h1 {
		display:block;
		width:190px;
		height:60px;
		background-image:url("/images/logo.png");
		a{
		    display:block;
		    width:190px;
		    height:60px;
		    span {
			display:none;
		    }
		}
		a:hover{
		    Background:none !important;
		}
	    }
	}

    }
    ul {
	list-style: none;
	margin: 0 30px 0 0;

	li {
	    display: inline;
	    min-width:58px;
	    a {
		font-size:14px;
		color: $clouds !important;
		text-decoration: none;
		padding: 17px 20px;
		line-height:60px;
	    }
	    a:hover {
		Background: $hover-box;
	    }
	}
    }

}

.main {
    min-height:525px;
}

footer {
    Background: $darkbg;
    width:100%;
    min-width: 1024px;
    min-height:60px;
    position:relative;
    margin: 0 auto;
    color:$lightgray;

    div{
	padding:20px 60px;
	font-size:14px;
	a{
	     color:$lightgray;
	}
    }
}


form, .form_box{
    border: solid 1px $lightergray;
    background-color: $ultra_blue;
    padding:10px;
    /*@include border-radius(5px);
    @include single-box-shadow(rgba(black, 0.4));
    */

    img {
	padding :5px;
	border:#D9E3DC;
    }
    .submit{
	text-align:center;
    }
}

.sidemenu {
    border-radius: 4px;
    width: 100%;
    background: #2c3e50;

    font-size: 16px;
    .menuheader {
	border-radius: 4px 4px 0 0;
	Background: #27ae60;
	color: white;
	padding: 15px;
    }

    .menu {
	list-style: none;
	width: 100%;
	color: white;
	li {
	    padding: 15px 25px;
	    a {
		text-decoration: none;
		font-size: 16px;
		color: $silver;
		width: 100%;
	    }
	    a:hover {
		Background: none;
	    }
	}
	li:hover {
	    Background: #34495e;
	    a {
		color: white;
	    }
	}

    }
}

.silver {
    color: $silver;
}

.dashbody {
    padding: 0 20px 0 0;
}

.inline{
    display:inline;
}

.justify{
    text-align:justify;
}