// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Authentication sccs */


.wrapper_signin{
    background: url('/images/bg1.jpg') no-repeat top left;
    padding: 40px 0;
    margin-bottom: 150px;
    img {
	float:right
    }
}

.wrapper_signup{
    background: url('/images/bg2.jpg') no-repeat top left;
    padding: 40px 0;
    margin-bottom: 150px;
    img {
	float:right;
    }
}


.layout_signin, .layout_signup{
    background-color:rgba(white, 0.7);
    padding:30px;

    .big_box {
	overflow:visible;
	height:400px;
	img{
	    padding-left:50px;
	    padding-right:30px;
	}
    }
}

/*  Index scss*/

.layout_signin, .layout_signup{
    background-color:rgba(white, 0.7);
    padding:30px;

    .big_box {
	overflow:visible;
	padding:30px;
	img{
	    padding-left:50px;
	    padding-right:30px;
	}

    }
}
