$headerbg: #34495e;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$green-sea: #16a085;
$turquoise: #16a085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$peter_river: #3498db;
$belize_hole: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$sun_flower: #f1c40f;
$orange: #f39c12;

.employment {
    Background: $nephritis;
}

.stock {
    Background: $alizarin;
}
.realstate {
    Background: $sun_flower;
}
.computer {
    Background: $peter_river;
}
.finance {
    Background: $wisteria;
}